<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioClienteCredidoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioClienteCredidoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44303/ServicioClienteCredido.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioClienteCredidoSoap"
                contract="ServicioClienteCredito.ServicioClienteCredidoSoap"
                name="ServicioClienteCredidoSoap" />
        </client>
    </system.serviceModel>
</configuration>